.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --button-color: #ca7300; /* cor de fundo do button  */
  --font-color: #ffffff; /* cor da font do button  */
  --hover-color: #dd0000; /* cor do hover ( efeito) ao passar o mouse no button  */
  --text-color: #666; /* Cor usada nos textos do formulario */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
